body {
  position: relative;
  min-height: 100vh;
  margin: 0;

  padding-bottom: 260px; /* Altura del footer para evitar que tape contenido */
}

.footer-container 
 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Altura del footer */
}