.footer-container {
    background-color: rgb(121, 64, 64);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    
}

.footer-caja{
    list-style-type: none; 
}

.anchor-footer a  {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

.copyR {
    font-weight:bolder;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

